<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeHeader</title>
    <link rel="stylesheet" href="CSS/homeHeader.css">
</head>
<body>

    <div class="imageAttach">
        <div class="image">
            <img src="Images/1.jpg" alt="Image 1">
        </div>
        <div class="image">
            <img src="Images/2.jpg" alt="Image 2">
        </div>
        <div class="image">
            <img src="Images/3.jpg" alt="Image 3">
        </div>
    </div>

    <div class="buttons">
        <button class="left"><<</button>
        <button class="right">>></button>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="JavaScript/homeHeader.js"></script>
</body>
</html>
